@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,500;1,700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


:root{
    --line-border-empty: #dad6d6;
    --line-border-fill: #5471c4;

}

body{
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: -1;
    transform: translateY(-50%);
    
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 4px;
    z-index: -1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}


.circle{
    background-color: #fff;
    color: #555;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--line-border-empty);;
    display: flex;
    align-items: center;
    align-items: center;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.circle.active{
    
    border: 3px solid var(--line-border-fill);;
}

.btn{
    background-color: var(--line-border-fill);;
    color: #fff;
    border: none;
    padding: 8px 30px;
    border-radius: 6px;
    margin: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}


.btn:active{
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}

.btn:focus{
    outline: none;
}

.btn:disabled{
    background-color: var(--line-border-empty);;
    cursor: not-allowed;

}